
.w-100 {
  max-width: 50%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: .5em;
  border: 3px solid #CC6F57;
}
