
$body-bg: #e5dac6;
$primary: #33364D;
$title: #CC6F57;
$font: #33364D;
$bg-1: #264653;
$highlight: #6F9984;
$button: #9B5143;


.form {
    margin-top: 25px;
}



@import '~bootstrap/scss/bootstrap.scss';

//Title Text Shadow: "textShadow: ".05em .05em 0 hsl(200 50% 30%)",

//Basic Text Shadow: textShadow: "0 13.36px 8.896px #c4b59d,0 -2px 1px #fff",

//boxShadow: "rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset"